{% extends "base.html" %}

{% block content %}
<h2>Inbox</h2>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>
                <strong>De:</strong> <a href="{% url 'chat:conversation' message.sender.username %}">{{ message.sender.username }}</a> <br>
                {{ message.content }} <br>
                <small>{{ message.timestamp }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tenés mensajes.</p>
{% endif %}
{% endblock %}
