{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h2 class="card-title">About</h2>
		<p class="card-text">🍽️ Este proyecto nació del interés por crear una aplicación web para gestionar datos relacionados con un negocio gastronómico en algun futuro.</p>

		<p class="card-text">La idea principal es almacenar productos, administrar stock y permitir que los usuarios se registren, inicien sesión y visualicen su actividad o consumos.</p>

		<p class="card-text">Comenze a estudiar analista de datos no solamente por conseguir un trabjo, sino con poder tener un enprendimiento y llevarlo acabo con herramientas que aprendi en este curso.</p>

		<p class="card-text">El rubro gastronómico y la comida en particular son áreas que me interesan mucho: me motivan tanto por la experiencia del usuario como por las posibilidades de optimizar inventarios, ventas y costes mediante datos.</p>

	
	</div>
</div>
{% endblock %}
